/.idea/
/tensorflow_example/.ipynb_checkpoints/
/pytorch_tutorials/.ipynb_checkpoints/
/pytorch_tutorials/data/
/pytorch_tutorials/model/
/linear_model/.ipynb_checkpoints/
/back_ward/.ipynb_checkpoints/
/.ipynb_checkpoints/
